@model IEnumerable<Inzynierka_ostatnia.Models.InzynierEntities5>



@{
    ViewBag.Title = "Graph";
    
    

}

<h2>Graf</h2>

<div>
    @using (Html.BeginForm())
    {
        <div style="float:left;margin-right:100px">
            <p>Osobnik żeński: <br /></p>
            <p>
                Pochodzenie:
                @Html.TextBox("Pochodzenie_z")
            </p>
            <p>
                Ród:
                @Html.TextBox("Rod_z")
            </p>
            <p>
                Lęg:
                @Html.TextBox("Leg_z")
            </p>
            <p>
                Masa 8 tydzień:
                @Html.TextBox("Masa8t_z")
            </p>
            <p>
                Masa 11 tydzień:
                @Html.TextBox("Masa11t_z")
            </p>
        </div>
        <div style="float:inherit">
            <p>Osobnik męski: <br /></p>
            <p>
                Pochodzenie:
                @Html.TextBox("Pochodzenie_m")
            </p>
            <p>
                Ród:
                @Html.TextBox("Rod_m")
            </p>
            <p>
                Lęg:
                @Html.TextBox("Leg_m")
            </p>
            <p>
                Masa 8 tydzień:
                @Html.TextBox("Masa8t_m")
            </p>
            <p>
                Masa 11 tydzień:
                @Html.TextBox("Masa11t_m")
            </p>
        </div>
        <div>
            <input type="submit" value="Szukaj" />
        </div>
    }
</div>


